.container {
    display: block;
    position: relative;
    top: 10vh;
    width: 100vw;
    background-color: var(--my-white);
    min-height: 90vh !important;
    height: fit-content !important;  

    .header {
        width: 100%;
        height: 40vh;

        > .headerIMG {
            width: 100%;
            height: 100%;
            position: relative;
        }

        > button {
            > img {
                width: 2vw;
                margin-right: 0.5vw;
            }
            font-size: 1vmax;
            position: absolute;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 17vw;
            right: 3vw;
            top: 32vh;
            z-index: 0;
            background-color: white;
            border-style: solid;
            border-radius: 100px;
            border-width: 0;
        }
    }

    .info {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: row;

        .nameStatus {
          height: 30vh;
        }

        .profileAboutMe {
            width: 40vw;
            height: 10vh;
            overflow-wrap: break-word;
        }

        .statusInput {
            border-style: solid;
            border-width: 1px;
            width: 13vw;
            height: 4vh;
            font-size: 2em;
        }

        img {
            position: relative;
            left: 8vw;
            top: 5vh;
            height: 25vh;
            width: 15vw;
            border-style: solid;
            border-radius: 50%;
            border-color: var(--my-red);
            border-width: 0.8vw;
            cursor: pointer;
        }

        div {
            position: relative;
            top: 7vh;
            left: 12vw;
            width: 33.3%;
            span {
                position: relative;
                &:nth-child(1) {
                    font-size: 5em;
                }
                &:nth-child(3) {
                    font-size: 2em;
                }
            }
        }

        > p, > textarea {
            background-color: var(--my-white);
            position: relative;
            font-size: 1.5em;
            font-family: 'Montserrat', sans-serif;
            top: 7vh;
            left: 3vw;
            width: 40vw;
            height: 10px;
        }

    }

}

.avatarandHeaderPopupContainer {
  width: 35vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > button {
    cursor: pointer;
    width: 15vw;
    height: 8vh;
    border-style: solid;
    border-radius: 20px;
    border-width: 0;
    color: white;
    font-size: 2em;
    font-weight: 600;
    margin: 2vh 0;
    &:nth-child(1) {
      background-color: var(--my-green);
    }
    &:nth-child(2) {
      background-color: var(--my-red);
    }
  }
}


.newHeaderPopupContainer {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    > span {
        margin-top: 5vh;
        font-size: 3em;
        font-weight: 600;
    }

    > input[type="file"] {
        display: none;
    }
    
    > .custom_file_upload {
        width: 10vw;
        height: 4vh;
        text-align: center;
        vertical-align: center;
        font-size: 1.67em;
        margin-top: 5vh;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: var(--my-green);
        color: var(--my-white);
        font-weight: 700;
        border: 0 solid;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #003402;
        }
    }


    .previewHeader {
        width: 100%;
        height: 40%;
        margin-top: 3vh;
    }

    .previewPhoto {
        margin-top: 5vh;
        height: 25vh;
        width: 15vw;
        border-style: solid;
        border-radius: 50%;
        border-color: var(--my-red);
        border-width: 0.8vw;
    }

    .uploadHeaderBTN {
        border-style: solid;
        border-width: 0;
        border-radius: 20px;
        background-color: var(--my-red);
        text-decoration: none;
        color: var(--my-white);
        cursor: pointer;
        width: 15vw;
        height: 8vh;
        font-size: 3em;
        font-weight: 900;
        margin-top: 10vh;
    }
}

 .confirmDeletePhoto {
   width: 30vw;
   height: 30vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
        > span {
            font-size: 2em;
            margin-bottom: 5vh;
        }
        > div {
            display: flex;
            flex-direction: row;
            >button {
              border-style: solid;
              border-width: 0;
              border-radius: 20px;
              width: 10vw;
              height: 7vh;
              color: white;
              font-size: 2em;
              font-weight: 600;
              margin: 0 1vw;
            }
            > button:nth-child(1) {
                background-color: var(--my-red);
            }
            > button:nth-child(2) {
                background-color: var(--my-green);
            }
        }
    }


.newPostForm {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;

  input {
    background-color: var(--my-white);
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    width: 20vw;
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh 0;
  }

  img {
    width: 100%;
    height: 30vh;
  }

  button {
    position: relative;
    top: 6vh;
    width: 15vw;
    height: 7vh;
    border-width: 0;
    border-radius: 15px;
    background-color: var(--my-red);
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }

  label {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--my-green);
    color: white;
    width: 10vw;
    height: 5vh;
    font-size: 1em;
    font-weight: 600;
    border-style: solid;
    border-radius: 13px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      background-color: green;
    }
  }
}
