.container {
    width: 80%;
    height: 100%;
    float: right;
}

.img {
    width: 100px;
    height: 100px
}

.myMessage{
    background-color: rgb(7, 255, 7);
    margin-left: 40px;
}

.partnerMessage {
    background-color: gray;
}